<section ng-controller="CoursesController" ng-init="find()">
  <div class="page-header">
    <h1>Courses</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="course in courses" ui-sref="courses.view({courseId: course._id})" class="list-group-item">
      <small class="list-group-item-text">
        Proposed on
        <span ng-bind="course.created | date:'mediumDate'"></span>
        by
        <span ng-bind="course.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="course.title"></h4>
      <p class="list-group-item-text" ng-bind="course.description"></p>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="courses.$resolved && !courses.length">
    No courses yet, why don't you <a ui-sref="courses.create">create one</a>?
  </div>
</section>
