<section ng-controller="CoursesController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="course.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == course.user._id || authentication.user.roles.indexOf('admin') > -1">
    <a class="btn btn-primary" ui-sref="courses.edit({courseId: course._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Proposed on
      <span ng-bind="course.created | date:'mediumDate'"></span>
      by
      <span ng-bind="course.user.displayName"></span>
    </em>
  </small>
  <p class="lead" ng-bind="course.description"></p>
  <p class="lead" ng-bind="course.content"></p>
</section>
